body {
    background-image: url('background.png');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Tahoma, Geneva, sans-serif;
    color: white;
    overflow-x: hidden;
}

.start {
    background-image: url('modbiome.png');
    background-repeat: no-repeat;
    background-size: cover;
	position: relative;
	top: -20px;
	width: 120%;
}

a {
	color: #4ce0d1;
	font-weight: bold;
	text-decoration: none;
}

#special {
	height: 12px;
}

hr {
	border: none;
	height: 4px;
	color: #d9d9d9; /* internet explorer */
	width: 120%;
	background-color: #d9d9d9;
	position: relative;
	left: -20px;
}

.center {
	text-align: center;
	width: 84%;
}
